body {
    margin: 0;
    background: rgba(250, 248, 115, 0.95);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

body.translucent {
    background: rgba(250, 248, 115, 0.95);
    opacity: 0.25;
}

.titlebar {
    -webkit-app-region: drag;
    height: 32px;
    background: rgba(200, 200, 200, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.window-controls {
    -webkit-app-region: no-drag;
}

.window-controls button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}

#floating-editor {
    height: calc(100vh - 100px);
    padding: 10px;
    border: none;
}

#floating-note-title {
    width: 96%;
    padding: 8px;
    margin-bottom: 10px;
    border:none;
    border-radius: 4px;
    font-size: 14px;
}

#floating-editor input:focus {
    outline: none;
}

#floating-quill {
    height: calc(100vh - 210px);
    border: none;
}

#save-note-btn {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ql-toolbar .q1-editor {
    border: none;
}